<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- bxSlider -->
    <script src="/javascripts/jquery.bxslider.js"></script>
    <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="nav">
      &nbsp;
    </nav>

    <div id="hero">
      <h2 class="title-hero"> Adlerography </h2>
    </div>

    <div id="main-content">
      <div class="modal">
        <div class="modal-close"> X </div>
        <div class="slider-wrap" data-section="1">
          <ul class="slider">
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-8.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-4.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-6.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-1.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-2.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-3.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-7.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-5.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-11.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-9.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-10.jpg"/></li>
          </ul>
        </div>
        <div class="slider-wrap" data-section="2">
          <ul class="slider">
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-1.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-2.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-3.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-4.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-5.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-6.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-7.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-8.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-9.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-10.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-11.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-12.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-13.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-14.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-15.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-16.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-17.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-18.jpg"/></li>
          </ul>
        </div>
        <div class="slider-wrap" data-section="3">
          <ul class="slider">
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-1.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-2.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-3.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-4.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-5.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-6.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-7.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-8.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-9.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-10.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-11.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-12.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-13.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-14.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-15.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-16.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-17.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-18.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-19.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-20.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-21.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-22.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-23.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-24.jpg"/></li>
          </ul>
        </div>
        <div class="slider-wrap" data-section="4">
          <ul class="slider">
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-1.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-2.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-3.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-4.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-5.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-6.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-7.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-8.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-9.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-10.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-11.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-12.jpg"/></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-13.jpg"/></li>
          </ul>
        </div>
      </div>
      <div class="images">
        <div class="image" data-section="1">
          <div class="image-content">
            <h3 class="date" data-section="1"> 2005 </h3>
            <h2 class="placename" data-section="1"> Europe </h2>
          </div>
        </div>
        <div class="image" data-section="2">
          <div class="image-content">
            <h3 class="date" data-section="2"> 2007 </h3>
            <h2 class="placename" data-section="2"> Taiwan </h2>
          </div>
        </div>
        <div class="image" data-section="3">
          <div class="image-content">
            <h3 class="date" data-section="3"> 2007 </h3>
            <h2 class="placename" data-section="3"> China </h2>
          </div>
        </div>
        <div class="image" data-section="4">
          <div class="image-content">
            <h3 class="date" data-section="4"> 2008 </h3>
            <h2 class="placename" data-section="4"> Pacific Rim </h2>
          </div>
        </div>
        <div class="image">
          <div class="image-content">
            <h3 class="date"> 2016 </h3>
            <h2 class="placename"> placename 5 </h2>
          </div>
        </div>
        <div class="image">
          <div class="image-content">
            <h3 class="date"> 2017 </h3>
            <h2 class="placename"> placename 6 </h2>
          </div>
        </div>
      </div>
      <div class="tl-wrapper">
        &nbsp;
      </div>
    </div>
  </body>

  <script>
    $(document).ready(function(){
      const modal = $('.modal');

      $('.placename, .date').click(function(e) {
        const section = $(this).attr('data-section');
        const slider = $(`.slider-wrap[data-section="${section}"]`);
        modal.addClass('active');
        slider.addClass('active');
        $(window).trigger('resize');
      });

      $('.modal-close').click(function() {
        $('.modal').removeClass('active');
        $('.slider-wrap').removeClass('active');
      });

      $('.slider').bxSlider({
        mode: 'fade',
        adaptiveHeight: true,
        auto: true,
        pause: 3000
      });
    });
  </script>
</html>
