<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="nav">
      
    </nav>

    <div id="hero">
      <h2 class="title-hero"> Adlerography </h2>
    </div>

    <div id="main-content">
      <div class="tl-wrapper">
        <div class="tl-item">
          <div class="date tl-date"> 2005 </div>
          <div class="placename tl-placename"> placename 1 </div>
        </div>
        <div class="tl-item">
          <div class="date tl-date"> 2007 </div>
          <div class="placename tl-placename"> placename 2 </div>
        </div>
        <div class="tl-item">
          <div class="date tl-date"> 2007 </div>
          <div class="placename tl-placename"> placename 3 </div>
        </div>
        <div class="tl-item">
          <div class="date tl-date"> 2008 </div>
          <div class="placename tl-placename"> placename 4 </div>
        </div>
        <div class="tl-item">
          <div class="date tl-date"> 2016 </div>
          <div class="placename tl-placename"> placename 5 </div>
        </div>
        <div class="tl-item">
          <div class="date tl-date"> 2017 </div>
          <div class="placename tl-placename"> placename 6 </div>
        </div>
      </div>

      <div class="images">
        <div class="image">
          <h2 class="placename image-placename"> placename 1 </h2>
        </div>
        <div class="image">
          <h2 class="placename image-placename"> placename 2 </h2>
        </div>
        <div class="image">
          <h2 class="placename image-placename"> placename 3 </h2>
        </div>
        <div class="image">
          <h2 class="placename image-placename"> placename 4 </h2>
        </div>
        <div class="image">
          <h2 class="placename image-placename"> placename 5 </h2>
        </div>
        <div class="image">
          <h2 class="placename image-placename"> placename 6 </h2>
        </div>
      </div>
    </div>
  </body>
</html>
