<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="nav">

    </nav>

    <div id="hero">
      <h2 class="title-hero"> Adlerography </h2>
    </div>

    <div id="main-content">
      <div class="images">
        <div class="image">
          <div class="image-content">
            <h3 class="date"> 2005 </h3>
            <h2 class="placename"> placename 1 </h2>
          </div>
        </div>
        <div class="image">
          <div class="image-content">
            <h3 class="date"> 2007 </h3>
            <h2 class="placename"> placename 2 </h2>
          </div>
        </div>
        <div class="image">
          <div class="image-content">
            <h3 class="date"> 2007 </h3>
            <h2 class="placename"> placename 3 </h2>
          </div>
        </div>
        <div class="image">
          <div class="image-content">
            <h3 class="date"> 2009 </h3>
            <h2 class="placename"> placename 4 </h2>
          </div>
        </div>
        <div class="image">
          <div class="image-content">
            <h3 class="date"> 2016 </h3>
            <h2 class="placename"> placename 5 </h2>
          </div>
        </div>
        <div class="image">
          <div class="image-content">
            <h3 class="date"> 2017 </h3>
            <h2 class="placename"> placename 6 </h2>
          </div>
        </div>
      </div>
      <div class="tl-wrapper">
        &nbsp;
      </div>
    </div>
  </body>
</html>
