body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 3;
}

#hero {
  background-image: url("https://s3-us-west-2.amazonaws.com/adlerography/adlerography-hero-masked.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
@media (min-width: 320px) {
  #hero {
    height: 300px;
  }
}
@media (min-width: 768px) {
  #hero {
    height: 500px;
  }
}
@media (min-width: 1024px) {
  #hero {
    height: 600px;
  }
}

.dadler-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.dadler-link:visited {
  color: white;
}
.dadler-link:hover {
  color: gold;
}

.title-hero,
.title-sub {
  color: white;
  transition: 0.15s;
}

.title-hero {
  font-family: "Bungee";
  margin: 0;
}
@media (min-width: 320px) {
  .title-hero {
    font-size: 28px;
  }
}
@media (min-width: 412px) {
  .title-hero {
    font-size: 38px;
  }
}
@media (min-width: 768px) {
  .title-hero {
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  .title-hero {
    font-size: 80px;
  }
}

.title-sub {
  margin: 0;
  font-weight: 300;
  font-family: "Helvetica Neue";
}
.title-sub .dadler-link {
  text-decoration: none;
  z-index: 997;
}
@media (min-width: 320px) {
  .title-sub {
    font-size: 12px;
    padding-right: 2px;
  }
}
@media (min-width: 768px) {
  .title-sub {
    font-size: 16px;
    padding-right: 20px;
  }
}

#main-content {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}

.tl-wrapper {
  z-index: 997;
  background-color: #242424;
}

.tl-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 6px;
  background: white;
  transition: 0.15s;
}
@media (min-width: 320px) {
  .tl-wrapper::before {
    left: 30px;
  }
}
@media (min-width: 768px) {
  .tl-wrapper::before {
    left: 70px;
  }
}

.images {
  z-index: 1;
  width: 100%;
}
@media (min-width: 320px) {
  .images {
    margin-top: 300px;
  }
}
@media (min-width: 768px) {
  .images {
    margin-top: 500px;
  }
}
@media (min-width: 1024px) {
  .images {
    margin-top: 600px;
  }
}

.wedding a,
.wedding a:visited {
  text-decoration: none;
  color: black;
}

.image {
  width: 100%;
  height: 250px;
  border-bottom: .5px solid grey;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.image:last-child {
  border-bottom: transparent;
}
.image:hover::after {
  content: "";
  background-color: black;
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.image:hover .date,
.image:hover .placename {
  color: white;
  text-shadow: none;
}
@media (min-width: 320px) {
  .image {
    background-color: lightblue;
  }
}
@media (min-width: 768px) {
  .image {
    background-position: 0 -40px;
    background-color: gold;
  }
  .image:hover .placename {
    transform: scale(1.1);
  }
}

.image-content {
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}
@media (min-width: 320px) {
  .image-content {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
@media (min-width: 768px) {
  .image-content {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

.placename {
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}
@media (max-width: 767px) {
  .placename {
    font-size: 32px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .placename {
    font-size: 64px;
    margin-right: 130px;
    transform: translateY(-10px);
  }
}

.date {
  margin: 0;
  font-family: "Megrim";
  font-size: 24px;
}
@media (min-width: 768px) {
  .date {
    margin-left: 80px;
    font-size: 40px;
  }
}

.placename,
.date {
  transition: 0.3s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .placename,
  .date {
    margin-left: 40px;
    margin-bottom: 10px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(26, 26, 26, 0.9);
}
.modal.active {
  display: block;
}

.modal-close {
  opacity: 0.8;
  background-color: #646464;
  color: #b7b7b7;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 24px;
  border-radius: 20px;
  padding: 2px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 999;
}
@media (max-width: 412px) {
  .modal-close {
    width: 50px;
    height: 50px;
    border-radius: 36px;
    font-size: 36px;
    line-height: 3.25rem;
  }
}
.modal-close:hover {
  background-color: grey;
  color: white;
}

.slider-wrap {
  display: none;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}
.slider-wrap img {
  margin: 0 auto;
}

.slider-wrap.active {
  display: -ms-flexbox;
  display: flex;
}

.slider {
  padding: 0 10px;
  margin: 0 auto;
}

@media (min-width: 320px) {
  .bx-viewport,
  .bx-wrapper img {
    max-height: 480px;
  }
}
@media (min-width: 768px) {
  .bx-viewport,
  .bx-wrapper img {
    max-height: 600px;
  }
}
@media (min-width: 1024px) {
  .bx-viewport,
  .bx-wrapper img {
    max-height: 620px;
  }
}

.image[data-section="1"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-3.jpg");
}

.image[data-section="2"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-3.jpg");
}

.image[data-section="3"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-18.jpg");
}

.image[data-section="4"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-1.jpg");
}

.image[data-section="5"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/barlee-2016/1-interior-prep/01-1up-2529.jpg");
}

.image[data-section="6"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/lauren-steve/750_8077.jpg");
}

.placename[data-section="1"] {
  font-family: 'Kumar One Outline';
}

.placename[data-section="2"] {
  font-family: 'Bungee Shade';
}

.placename[data-section="3"] {
  font-family: 'Bungee';
}

.placename[data-section="4"] {
  font-family: 'Megrim';
}

.placename[data-section="4"] {
  text-shadow: 2px 2px 2px white;
}

.placename[data-section="5"] {
  font-family: "Oswald";
}

.placename[data-section="6"] {
  font-family: "Poiret One";
}

#footer {
  height: 45px;
  z-index: 3;
  background-color: #242424;
}

.footer-left,
.footer-right {
  color: white;
}

.footer-left {
  float: left;
  color: white;
  padding-top: 8px;
}
@media (max-width: 768px) {
  .footer-left {
    margin-left: 40px;
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .footer-left {
    margin-left: 80px;
  }
}

.footer-right {
  float: right;
}
@media (min-width: 320px) {
  .footer-right {
    margin-right: 10px;
  }
}
@media (min-width: 768px) {
  .footer-right {
    margin-right: 40px;
  }
}

.footer-link {
  color: white;
  transition: 0.3s;
}
.footer-link:visited {
  color: white;
}
.footer-link:hover {
  color: gold;
}
@media (min-width: 320px) {
  .footer-link {
    margin: 0 4px;
  }
}
@media (min-width: 768px) {
  .footer-link {
    margin: 0 10px;
  }
}
