// responsive settings
$small-screen: 320px;
$large-mobile: 412px;
$medium-screen: 768px;
$large-screen: 1024px;
$x-large-screen: 1194px;
$x-x-large-screen: 1440px;
// constants for spatial relationships
$hero-height-sm-up: 300px;
$hero-height-md-up: 500px;
$hero-height-lg-up: 600px;
$tl-left-sm: 30px;
$tl-left-md: 70px;
$footer-height: 45px;
// z-indexes
$z-index-hero: 1;
$z-index-images: 1;
$z-index-image-content: 2;
$z-index-nav: 3;
$z-index-footer: 3;
$z-index-tl-wrapper: 997;
$z-index-title-sub: 997;
$z-index-modal: 998;
$z-index-modal-close: 999;
// transitions
$common-transition: 0.3s;
// colors
$color-footer: rgb(36, 36, 36);
$hover-gold: gold;

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-width: $small-screen;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: $z-index-nav;
}

#hero {
  background-image: url('https://s3-us-west-2.amazonaws.com/adlerography/adlerography-hero-masked.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-hero;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media(min-width: $small-screen) {
    height: $hero-height-sm-up;
  }

  @media(min-width: $medium-screen) {
    height: $hero-height-md-up;
  }

  @media(min-width: $large-screen) {
    height: $hero-height-lg-up;
  }
}

.dadler-link {
  color: white;
  text-decoration: none;
  font-weight: bold;

  &:visited {
    color: white;
  }

  &:hover {
    color: $hover-gold;
  }
}

.title-hero,
.title-sub {
  color: white;
  transition: 0.15s;
}

.title-hero {
  font-family: "Bungee";
  margin: 0;

  @media(min-width: $small-screen) {
    font-size: 28px;
  }

  @media(min-width: $large-mobile) {
    font-size: 38px;
  }

  @media(min-width: $medium-screen) {
    font-size: 60px;
  }

  @media(min-width: $large-screen) {
    font-size: 80px;
  }
}

.title-sub {
  margin: 0;
  font-weight: 300;
  font-family: "Helvetica Neue";

  .dadler-link {
    text-decoration: none;
    z-index: $z-index-title-sub;
  }

  @media(min-width: $small-screen) {
    font-size: 12px;
    padding-right: 2px;
  }

  @media(min-width: $medium-screen) {
    font-size: 16px;
    padding-right: 20px;
  }
}

#main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tl-wrapper {
  z-index: $z-index-tl-wrapper;
  background-color: $color-footer;
}

.tl-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  // height: 1px;
  width: 6px;
  background: white;
  transition: 0.15s;

  @media(min-width: $small-screen) {
    left: $tl-left-sm;
  }

  @media(min-width: $medium-screen) {
    left: $tl-left-md;
  }
}

.images {
  z-index: $z-index-images;
  width: 100%;

  @media(min-width: $small-screen) {
    margin-top: $hero-height-sm-up;
  }

  @media(min-width: $medium-screen) {
    margin-top: $hero-height-md-up;
  }

  @media(min-width: $large-screen) {
    margin-top: $hero-height-lg-up;
  }
}

.wedding {
  a,
  a:visited {
    text-decoration: none;
    color: black;
  }
}

.image {
  width: 100%;
  height: 250px;
  border-bottom: .5px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &:last-child {
    border-bottom: transparent;
  }

  &:hover {
    &::after {
      content: "";
      background-color: black;
      opacity: 0.85;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
    }

    .date,
    .placename {
      color: white;
      text-shadow: none;
    }
  }

  @media(min-width: $small-screen) {
    background-color: lightblue;
  }

  @media(min-width: $medium-screen) {
    background-position: 0 -40px;
    background-color: gold;

    &:hover {
      .placename {
        transform: scale(1.1);
      }
    }
  }
}

.image-content {
  display: flex;
  z-index: $z-index-image-content;

  @media(max-width: $medium-screen - 1px) {
    position: absolute;
    left: $tl-left-sm + 10px;
  }

  @media(min-width: $small-screen) {
    flex-direction: column;
  }

  @media(min-width: $medium-screen) {
    flex-direction: row;
  }
}

.placename {
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);

  @media(max-width: $medium-screen - 1px) {
    font-size: 32px;
    text-align: left;
  }

  @media(min-width: $medium-screen) {
    font-size: 64px;
    margin-right: 130px;
    transform: translateY(-10px);
  }
}

.date {
  margin: 0;
  font-family: "Megrim";
  font-size: 24px;

  @media(min-width: $medium-screen) {
    margin-left: $tl-left-md + 10px;
    font-size: 40px;
  }
}

.placename,
.date {
  transition: $common-transition;
  cursor: pointer;

  @media(max-width: $medium-screen) {
    margin-bottom: 10px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-modal;
  background-color: hsla(0, 0%, 10%, 0.9);

  &.active {
    display: block;
  }
}

.modal-close {
  @media(max-width: $large-mobile) {
    width: 50px;
    height: 50px;
    border-radius: 36px;
    font-size: 36px;
    line-height: 3.25rem;
  }

  opacity: 0.8;
  background-color: rgb(100, 100, 100);
  color: rgb(183, 183, 183);
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 24px;
  border-radius: 20px;
  padding: 2px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: $z-index-modal-close;

  &:hover {
    background-color: grey;
    color: white;
  }
}

.slider-wrap {
  display: none;
  height: 100%;
  width: 100%;
  margin-top: 10px;

  img {
    margin: 0 auto;
  }
}

.slider-wrap.active {
  display: flex;
}

.slider {
  padding: 0 10px;
  margin: 0 auto;
}

.bx-viewport,
.bx-wrapper img {
  @media(min-width: $small-screen) {
    max-height: 480px;
  }

  @media(min-width: $medium-screen) {
    max-height: 600px;
  }

  @media(min-width: $large-screen) {
    max-height: 620px;
  }
}

.image[data-section="1"] {
  background-image: url('https://s3-us-west-2.amazonaws.com/adlerography/eur-2005/eur-2005-3.jpg');
}

.image[data-section="2"] {
  background-image: url('https://s3-us-west-2.amazonaws.com/adlerography/tw-2007/tw-2007-3.jpg');
}

.image[data-section="3"] {
  background-image: url('https://s3-us-west-2.amazonaws.com/adlerography/cn-2007/cn-2007-18.jpg');
}

.image[data-section="4"] {
  background-image: url('https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-1.jpg');
}

.image[data-section="5"] {
  background-image: url('https://s3-us-west-2.amazonaws.com/barlee-2016/1-interior-prep/01-1up-2529.jpg');
}

.image[data-section="6"] {
  background-image: url('https://s3-us-west-2.amazonaws.com/lauren-steve/750_8077.jpg');
}

// Europe
.placename[data-section="1"] {
  font-family: 'Kumar One Outline';
}

// Taiwan
.placename[data-section="2"] {
  font-family: 'Bungee Shade';
}

// China
.placename[data-section="3"] {
  font-family: 'Bungee';
}

// PacRim
.placename[data-section="4"] {
  font-family: 'Megrim';
}

.placename[data-section="4"] {
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
}

.placename[data-section="5"] {
  font-family: "Oswald";
}

.placename[data-section="6"] {
  font-family: "Poiret One";
}

#footer {
  height: $footer-height;
  z-index: $z-index-footer;
  background-color: $color-footer;
}

.footer-left,
.footer-right {
  color: white;
}

.footer-left {
  float: left;
  color: white;
  padding-top: 8px;

  @media(max-width: $medium-screen) {
    margin-left: $tl-left-sm + 10px;
    font-size: 10px;
  }

  @media(min-width: $medium-screen) {
    margin-left: $tl-left-md + 10px;
  }
}

.footer-right {
  float: right;

  @media(min-width: $small-screen) {
    margin-right: 10px;
  }

  @media(min-width: $medium-screen) {
    margin-right: 40px;
  }
}

.footer-link {
  color: white;
  transition: 0.3s;

  &:visited {
    color: white;
  }

  &:hover {
    color: $hover-gold;
  }

  @media(min-width: $small-screen) {
    margin: 0 4px;
  }

  @media(min-width: $medium-screen) {
    margin: 0 10px;
  }
}
