// responsive settings
$small-screen: 320px;
$large-mobile: 400px;
$medium-screen: 768px;
$large-screen: 1024px;
$x-large-screen: 1194px;
$x-x-large-screen: 1440px;
// constants for spatial relationships
$hero-height-sm-up: 300px;
$hero-height-md-up: 500px;
$hero-height-lg-up: 600px;
$tl-left-sm: 30px;
$tl-left-md: 70px;
// z-indexes
$z-index-hero: -999;
$z-index-images: 1;
$z-index-tl-wrapper: 2;
$z-index-nav: 3;
$z-index-modal: 998;
$z-index-modal-close: 999;
// transitions
$common-transition: 0.3s;

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-width: $small-screen;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: $z-index-nav;
}

#hero {
  background-image: url('https://s3-us-west-2.amazonaws.com/adlerography/header-temp-md.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-hero;
  display: flex;
  align-items: center;
  justify-content: center;

  @media(min-width: $small-screen) {
    height: $hero-height-sm-up;
  }

  @media(min-width: $medium-screen) {
    height: $hero-height-md-up;
  }

  @media(min-width: $large-screen) {
    height: $hero-height-lg-up;
  }
}

.title-hero {
  color: white;
  margin: 0;
  transition: 0.15s;

  @media(min-width: $small-screen) {
    font-size: 40px;
  }

  @media(min-width: $medium-screen) {
    font-size: 60px;
  }

  @media(min-width: $large-screen) {
    font-size: 80px;
  }
}

#main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tl-wrapper {
  z-index: $z-index-tl-wrapper;
  height: 100%;
}

.tl-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 3px;
  background: white;
  transition: 0.15s;

  @media(min-width: $small-screen) {
    left: $tl-left-sm;
  }

  @media(min-width: $medium-screen) {
    left: $tl-left-md;
  }
}

.images {
  z-index: $z-index-images;
  width: 100%;

  @media(min-width: $small-screen) {
    margin-top: $hero-height-sm-up;
  }

  @media(min-width: $medium-screen) {
    margin-top: $hero-height-md-up;
  }

  @media(min-width: $large-screen) {
    margin-top: $hero-height-lg-up;
  }
}

.image {
  width: 100%;
  height: 250px;
  border-bottom: .5px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media(min-width: 320px) {
    background-color: lightblue;
  }

  @media(min-width: 768px) {
    background-color: gold;
  }
}

.image-content {
  display: flex;

  @media(min-width: $small-screen) {
    flex-direction: column;
  }

  @media(min-width: $medium-screen) {
    flex-direction: row;
  }
}

.placename {
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  text-align: center;

  @media(max-width: $medium-screen - 1px) {
    font-size: 24px;
    text-align: left;
  }

  @media(min-width: $medium-screen) {
    font-size: 50px;
    margin-right: 130px;
  }
}

.date {
  margin: 0;

  @media(min-width: $medium-screen) {
    margin-left: $tl-left-md + 10px;
    font-size: 30px;
  }
}

.placename,
.date {
  transition: $common-transition;

  @media(max-width: $medium-screen) {
    margin-left: $tl-left-sm + 10px;
    margin-bottom: 10px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-modal;
  background-color: hsla(0, 0%, 10%, 0.9);

  &.active {
    display: block;
  }
}

.modal-close {
  border: 1px solid white;
  background-color: ivory;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 24px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: $z-index-modal-close;

  &:hover {
    background-color: grey;
    color: white;
  }
}

.fotorama {
  display: none;
  margin: 10px;

  &.active {
    display: block;
  }
}
